@media (min-width: 601px) and (max-width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .lastFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .lastFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-wrap: wrap;
  }
  .lastlat {
  }
}

p {
  font-family: "Arial, sans-serif";
  margin: 0;
  padding: 10px 0;
}
