@media screen and (max-width: 1200px) {
  .phoneHeader {
    display: none;
  }
  #outlined-basic {
    max-width: 250px;
  }
  .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
}
#outlined-basic {
  display: inline-block;
  width: 500px;
}

@media screen and (max-width: 1000px) {
  .searchHeader {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
}

.Button {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: flex;
  gap: 10px;
  margin-right: 20px;
}
.Button:hover {
  background-color: #a9a9a9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #a9a9a9;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
