@media (min-width: 1025px) and (max-width: 1600px) {
  #outlined-basic {
    max-width: 250px;
  }
  .MENU {
    display: none;
  }
  .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .phoneHeader {
    display: none;
  }
  .searchHeader {
    display: none;
  }
  .headerButton {
    display: none;
  }
  .MENU {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
}
@media (max-width: 600px) {
  .phoneHeader {
    display: none;
  }
  .searchHeader {
    display: none;
  }
  .headerButton {
    display: none;
  }
  .MENU {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
#outlined-basic {
  display: inline-block;
  width: 500px;
}

.Button {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: flex;
  gap: 10px;
  margin-right: 20px;
}
.Button:hover {
  background-color: #e0e0e0;
}
a:hover {
  text-decoration: none;
  color: #a9a9a9;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
