.newitem:hover {
  transform: scale(1.05);
  transition: transform 1s ease-in-out;
}

.newitem {
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  .newItem {
    display: grid;
    grid-template-columns: auto auto;
  }
}
